<div class="background-image">
        <div class="black-background">
          <div class="title">
            <h2 class="name">Guild Wars 2 Review</h2>
            <p class="plateform">PC</p>
          </div>
          <div class="score">
            <p class="number-score">9.5/10</p>
          </div>
        </div>
      </div>
      <div class="highlights">
        <div class="pros">
          <ul>
            <li>PROS</li>
            <li>Great Combat</li>
            <li>Great Story</li>
            <li>Great Community</li>
          </ul>
        </div>
        <div class="cons">
          <ul>
            <li>CONS</li>
            <li>Random disconnects</li>
            <li>Missing Living story 1</li>
            <li>Not for everyone</li>
          </ul>
        </div>
      </div>
      <div class="video">
        <video src="videofile.ogg" autoplay poster="posterimage.jpg">

        </video>
        <div class="written-review">
          <p>The world of Tyria, as imagined in the massively multiplayer Guild Wars 2, is an endlessly intriguing place, stuffed with mystery and adventure, gifting you with gorgeous sights and personal stories that etch themselves into your memory.</p>
          <p>These are the kinds of stories you tell for months to come--and they arise from your own spontaneous experiences. There's the one about how you and your guildmates emerged from chilly waters into an ominous thunderstorm, captured a tower from the enemy, and escaped from a roaring crowd of necromancers and rangers before they could deliver you to the devil.</p>
          <p>Then there's the one where a giant lightning-breathing dragon landed in a dark-misted field, and you joined a legion of soldiers to cleanse the land of its blight. Guild Wars 2 strips away the traditional game of "follow the waypoint," allowing you to feel like part of a vast living landscape rather than the tool of a thousand and one taskmasters.</p>
          <p> How does Guild Wars 2 make Tyria so inviting and inventive? It starts with the loss of the traditional quest log.</p>
        </div>
      </div>
