<% include ../partials/header %>

<h1 class='commentSection'>add a new comment for</h1>
<div class='row'>
  <div class='newCommentForm'>
    <form action="/comments/<%= comment._id %>/comments" method="POST">
      <input type='text' placeholder='text' name='comment[text]' class='form-control'>
      <input type='text' placeholder='author' name='comment[author]' class='form-control'>
      <button class='btn btn-lg btn-default'>Submit!</button>
    </form>
  </div>
</div>


<% include ../partials/footer %>
