<div class="background-image-1">
  <div class="latest-review">
    <h3>Latest Reviews</h3>
    <div class="reviews">
      <div>
        <img src="../images/dredd3d.jpg"></>
        <span>Dredd 3D</span>
      </div>
      <div><img src="../images/guildwars2review.jpg"></>
        <span>Guild Wars 2</span>
        <span>2019</span>
      </div>
      <div><img src="../images/madmaxreview.jpg"></><span>Mad Max Fury Road</span></div>
      <div><img src="../images/metalgear.jpg"></><span>Metal Gear Solid 5</span></div>
      <br>
      <div><img src="../images/reddead2review.jpg"></><span>Red Dead Redemption 2</span></div>
      <div><img src="../images/spidermanreview.jpg"></><span>Spider Man</span></div>
      <div><img src="../images/supersmash.jpg"></><span>Super Smash Bros. Ultimate</span></div>
      <div><img src="../images/thedivision2review.jpg"></><span>The Division 2</span></div>
      <br>
      <div><img src="../images/warframereview.jpg"></><span>Warframe</span></div>
      <div><img src="../images/doomreview.jpg"></><span>Doom</span></div>
      <div><img src="../images/halloweenreview.jpg"></><span>Halloween</span></div>
      <div><img src="../images/lordoftheringsreview.jpg"></><span>Lord of the Rings Triogy</span></div>
      <br>
      <div><img src="../images/quakechampionsreview.jpg"></><span>Quake Champions</span></div>
      <div><img src="../images/forhonorreview.jpg"></><span>For Honor</span></div>
      <div><img src="../images/kingdomcomereview.jpg"></><span>Kingdom Come Deliverance</span></div>
    </div>
  </div>
  </div>
