*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Righteous, monospace, Helvetica, Verdana, Geneva, sans-serif;
  font-size: 100%;
}
/*Header*/
header {
  height: 60px;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
  background-color: #262d2d;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}
header .logo {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
header h1 {
  color: #d1a254;
}
header a {
  text-decoration: none;
}
header img {
  height: 55px;
  float: left;
}
header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
  position: relative;
}
header nav ul li.sub-menu:before {
  position: absolute;
  line-height: 50px;
  color: #fff;
  right: 1px;
}
header nav ul li ul {
  position: absolute;
  left: 0;
  background-color: #333;
  display: none;
}
header nav ul li.active ul {
  display: block;
}
header nav ul li ul li {
  display: block;
  width: 200px;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover {
  color: #fff;
  background-color: #7c0001;
}
header nav ul li a:active {
  background: #7c0001;
}
.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
/*End of Header*/
/*Latest Review*/
.background-img {
  background: linear-gradient(#757474e0,#757474e0),
    url(../images/gw2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding: 4%;
    background-position: top;
}
.review-section {
  color: white;
}
.reviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #00000082;
  }
  .reviews div {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 1%;
    position: relative;
    transition: transform .2s;
  }
  .reviews div:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
  }
    .reviews span {
    position: absolute;
    color: white;
    bottom: 25%;
    font-size: 90%;
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    visibility: hidden;
    z-index: 5;
  }
    .reviews:hover span {
    visibility: visible;
    z-index: 1;
  }
  .reviews  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    max-width: 250px;
    max-height: 250px;
    border: 10px solid #00000085;
  }
  .reviews img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  h3 {
    color: white;
    text-align: center;
    font-size: -webkit-xxx-large;
    padding-bottom: 3%;
  }
  .name-tag {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background: url(../images/mask-title.png) top repeat-x;
    z-index: 5;
  }
  .reviews h2 {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.6);
  }
/*end of latest Review*/
/*Individual review*/
.wrapper {
  color: white;
  background-color: #00000082;
  padding: 1%;
  margin-bottom: 20px;
}
.review-title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
}
.review-iv {
  display: block;
  padding: 15px;
}
iframe {
  width: 100%;
  height: -webkit-fill-available;
}
.review-info, .pac {
  font-size: x-large;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.review-info span {
  color: #d1a254;
}
.pac ul {
  list-style-position: inside;
}
.pros, .cons {
  font-weight: bold;
  text-transform: uppercase;
}
.pros {
  color: #2793e6;
}
.cons {
  color: #e62117;
}
.score {
  color: #d1a254;
  text-align: center;
  font-weight: bold;
}
/*End of individual review*/
/*Comment Section*/
.comment-section {
  width: 100%;
  max-width: 760px;
  margin: 30px auto;
}
strong {
  color: #d1a254;
  text-decoration: underline;
  font-size: x-large;
}
p {
  padding: 10px;
}
input, textarea {
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}
input {
  height: 40px;
}
textarea {
  height: 130px;
  width: 100%;
}
button {
  border-radius: 10px;
  height: 40px;
  width: 90px;
}
/*End of Comment Section*/
/*footer*/
footer {
  background-color: #262d2d;
  width: 100%;
  color: white;
}
footer img {
  height: 55px;
}
.footer-logo {
  text-align: center;
  padding: 10px;
}
.footer-logo i {
  font-size: 40px;
  color: #d1a254;
}
/*End of footer*/
/*media queries*/
@media (max-width: 860px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    top: 55px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 0.9px solid rgba(0, 0, 0, .2);
  }
  header nav ul li.active ul {
    position: relative;
    background: black;
  }
  header nav ul li ul li {
    width: 100%;
  }
  h1 {
    font-size: xx-large;
  }
  h3 {
    font-size: x-large;
  }
  .reviews div {
    width: 33%;
  }
}
@media (max-width: 600px) {
  .background-img {
    padding: 5%;
  }
    .reviews div {
      width: 50%;
    }
    .reviews img {
      height: 250px;
      border: 5px solid #00000085;
    }
    .review-title {
      font-size: x-large;
    }
    .review-iv {
      display: block;
      padding: 5px;
    }
    iframe {
      width: 100%;
      height: 300px;
    }
    .review-info, .pac {
      display: block;
      font-size: medium
    }
    .score {
      font-size: larger;
    }
  }
