*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Righteous, monospace, Helvetica, Verdana, Geneva, sans-serif;
  font-size: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
/*Header*/
header {
  background-color:#262d2d;
  color: white;
  width: 100%;
  height: 137px;
}
  header ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
header ul li {
  position: relative;
  background-color:#262d2d;
  text-align: center;
}
header ul li a {
  padding: 5%;
  font-size: 1.1em;
  text-decoration: none;
  display: flex;
  justify-content: evenly;
  width: 170px;
}
header ul li a:hover {
  background-color: black;
  color: red;
  transition: 0.5s;
}
header ul li ul {
  width: 100%;
  display: none;
  position: absolute;
}
header ul li:hover ul {
  display: block;
}
header a {
  color: white;
  text-align: center;
}
h1 {
  padding-top: 1%;
  color: #d1a254;
}
.menu-toggle i {
  display: none;
}
.fa-chevron-down {
  margin: 5px;
  font-size: smaller;
}
 .h1-logo {
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.h1-logo img {
  height: 70px;
}
/*End of Header*/
/*Body*/
.background-image-1 {
  background: linear-gradient(
  #757474e0,
  #757474e0),
  url(../images/gw2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
}
.latest-review {
  padding: 5%;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.reviews div {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
h3 {
  color: #d1a254;
  text-align: center;
  font-size: -webkit-xxx-large;
}
.name-tag {
  position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background: url(../images/mask-title.png) top repeat-x;
    z-index: 5;
}
.reviews h2 {
  font-size: 14px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.6);
}
/*End of Body*/
/* Media Queries */
@media only screen and (max-width: 568px) {
  header ul {
    width: 100%;
  }
  .h1-logo img {
    height: 40px;
  }
  header {
    height: 110px;
  }
  header ul li a {
    padding: 6%;
  }
}
