*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Righteous, monospace, Helvetica, Verdana, Geneva, sans-serif;
  font-size: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  display: table;
}
/*Header*/
header {
  background-color:#262d2d;
  color: white;
  width: 100%;
  height: 90px;
  text-transform: uppercase;
}
header ul {
  margin: 0px;
  padding: 1%;
  list-style: none;
  text-align: center;
  display: flex;
}
header ul li {
  position: relative;
  background-color:#262d2d;
  text-align: center;
  z-index: 1;
}
header ul li a {
  padding: 5%;
  font-size: 1.1em;
  text-decoration: none;
  display: flex;
  justify-content: evenly;
  width: 170px;
}
header ul li a:hover {
  background-color: black;
  color: #e00b0bc2;
  transition: .2s;
}
header ul li ul {
  width: 100%;
  display: none;
  position: absolute;
}
header ul li:hover ul {
  display: block;
}
header a {
  color: white;
  text-align: center;
}
h1, .footer-logo {
  padding-top: 5%;
  color: #d1a254;
}
.menu-toggle i {
  display: none;
}
.fa-chevron-down {
  margin: 5px;
  font-size: smaller;
}
.logo {
  padding: 1%;
  display: flex;
  float: left;
}
.logo img {
  height: 65px;
}
.logo a {
  text-decoration: none;
}
/*End of Header*/
/*Body*/
.background-image-1 {
  background: linear-gradient(
    #757474e0,
    #757474e0),
    url(../images/gw2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }
  .latest-review {
    padding: 8%;
    margin: 0px;
  }
  .reviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #00000082
  }
  .reviews div {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 1%;
    position: relative;
    transition: transform .2s;
  }
  .reviews div:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }
    .reviews span {
    position: absolute;
    color: white;
    bottom: 25%;
    font-size: 100%;
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    visibility: hidden;
    z-index: 5;
  }
    .reviews:hover span {
    visibility: visible;
    z-index: 1;
  }
  .reviews img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    max-width: 250px;
    max-height: 250px;
    border: 10px solid #00000085;
  }
  .reviews img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  h3 {
    color: white;
    text-align: center;
    font-size: -webkit-xxx-large;
    position: relative;
    bottom: 50px;
  }
  .name-tag {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background: url(../images/mask-title.png) top repeat-x;
    z-index: 5;
  }
  .reviews h2 {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.6);
  }
  /*End of Body*/
  /*Review-Page*/
  .review-wrapper {
    background: linear-gradient(
      #757474e0,
      #757474e0),
      url(../images/gw2.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: fit-content;
      display: block;
  }
  .review-title {
    font-size: -webkit-xxx-large;
    text-align: center;
    padding-top: 15px;
    color: white;
  }
  .review-iv {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
  }
  iframe {
    width: 50%;
    height: 500px;
    margin: 30px;
    border: 10px solid black;
  }
  .review-info {
    color: white;
    margin-top: 25px;
    padding: 10px;
    font-size: xx-large;
  }
  .pac p {
    font-weight: bold;
    color: red;
  }
  .pac span {
    color: blue;
  }
  .written-review {
    background-color: #1c1c1c69;
    color: white;
    border: 10px solid black;
    padding: 30px;
    width: 75%;
    margin: 0 auto;
    font-size: x-large;
    margin-bottom: 70px;
  }
  .score {
    font-size: larger;
    color: #d1a254;
    font-weight: bold;
  }
  /*Comment Section*/
  .comment-section {
    display: flex;
    justify-content: center;
  }
  #respond {
    background-color: #3b3b3b;
    padding: 50px;
    margin: 10px;
    width: 65%;
  }
  label {
    color: white;
  }
#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.4em;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
form {
  margin-top:20px;
}
form textarea {
  width: 100%;
}
  /*End of Comment Section*/
  /*End of Review-Page*/
  /*Footer*/
  .foot-wrap {
    background-color: #262d2d;
    color: white;
    height: 1px;
    width: 100%;
    display: table-row;
  }
  .foot-content {
    text-align: center;
  }
  .foot-content .logo {
    float: none;
    display: inline-grid;
    text-align: -webkit-center;
  }
  .social-media {
    padding: 2%;
    position: absolute;
    left: 0%;
  }
  .social-media i {
		font-size: 40px;
    color: #d1a254;
  }
  /*End of Footer*/
  /* Media Queries */
  @media only screen and (max-width: 568px) {
    header ul {
      width: 100%;
    }
    .h1-logo img {
      height: 40px;
    }
    header {
      height: 110px;
    }
    header ul li a {
      padding: 6%;
    }
  }
